<div class="pd-ltr-20 xs-pd-20-10">
<div class="min-height-200px">
	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4><%= @title %></h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/home">Dashboard</a>
						</li>
						<li class="breadcrumb-item">
							<a href="/areas">Area</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							<%= @title %>
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<!-- Default Basic Forms Start -->
	<div class="pd-20 card-box mb-30">
		<div class="clearfix">
			<div class="pull-left">
				<h4 class="text-blue h4">Form Application</h4>
				<p class="mb-30"></p>
			</div>
			<%= link_to 'Back', :back, class: 'btn btn-primary btn-sm pull-right' %>
		</div>
        <%= form_for @leader, html: { class: "form-horizontal form-label-left", id: "area_form", "data-parsley-validate": "" } do |f| %>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">First Name</label>
				<div class="col-sm-12 col-md-10">
          <%= f.text_field :first_name, class: "form-control", placeholder:"Enter the First Name", required: true %>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Last Name</label>
				<div class="col-sm-12 col-md-10">
           <%= f.text_field :last_name, class: "form-control", placeholder:"Enter the Last Name", required: true %>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Husband/Father's Name</label>
				<div class="col-sm-12 col-md-10">
           <%= f.text_field :husband_name, class: "form-control", placeholder:"Enter the Husband Name", required: true %>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Aadhar Number</label>
				<div class="col-sm-12 col-md-10">
           <%= f.text_field :aadhar_number, class: "form-control", placeholder:"Enter the Aadhar Card Number" %>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Family Card Number</label>
				<div class="col-sm-12 col-md-10">
           <%= f.text_field :family_card_number, class: "form-control", placeholder:"Enter the Family Card Number" %>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Email</label>
				<div class="col-sm-12 col-md-10">
           <%= f.text_field :email, class: "form-control", placeholder:"Enter the Email", type: "email" %>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Phone Number</label>
				<div class="col-sm-12 col-md-10">
          <%= f.text_field :phone_number, class: "form-control", placeholder:"Enter the Phone number", required: true %>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Property Status</label>
				<div class="col-sm-12 col-md-10">
 			    <%= f.collection_select :property, @properties, :itself, :itself, { prompt: "Select an Property" }, { class: "form-control", required: true } %>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Street Name</label>
				<div class="col-sm-12 col-md-10">
          <%= f.text_field :street_name, class: "form-control", placeholder:"Enter the Door No & Street Name", required: true %>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Area</label>
				<div class="col-sm-12 col-md-10">
					<% if @title == "New Leader" %>
					<%= f.hidden_field :area_id, value: @area.id %>
          <%= f.collection_select :area_id, Area.all, :id, :name, { prompt: "Select an Area", selected: @area.id }, { class: "form-control", readonly: true, disabled: true} %>
					<% else %>
          <%= f.collection_select :area_id, Area.all, :id, :name, { prompt: "Select an Area" }, { class: "form-control", readonly: true, disabled: true} %>
					<% end %>

				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">City</label>
				<div class="col-sm-12 col-md-10">
          <%= f.text_field :city, class: "form-control", placeholder:"Enter the City", value: "Madurai", required: true %>
				</div>
			</div> 
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Pincode</label>
				<div class="col-sm-12 col-md-10">
          <%= f.text_field :pincode, class: "form-control", placeholder:"Enter the Pincode", required: true %>
				</div>
			</div> 

			<div class="clearfix">
			<div class="pull-left">
				<p class="mb-30"></p>
				 <input class="btn btn-primary" type="submit" value="Submit" />
				<p class="mb-30"></p>
			</div>
		</div>
	<% end %>

	  </div>
	<!-- Default Basic Forms End -->
	</div>
</div>


 <script>
  $(document).ready(function() {
    $('.left-side-leaders').addClass('active');
  });
</script>