<div class="pd-ltr-20 xs-pd-20-10">
<div class="min-height-200px">

    <div class="page-header">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div class="title" style="display: flex; justify-content: space-between; align-items: center;">
              <h4><span class="text-blue h4">Leader Page</span></h4>
              <a class="btn btn-primary btn-sm pull-right" href="<%= new_loan_path(leader_id: @leader.id) %>">New Leader Loan</a>
              <a class="btn btn-primary btn-sm" href="<%= new_applicant_user_path(leader_id: @leader.id) %>">New Applicant</a>
              <a class="btn btn-success btn-sm" href=<%="/leaders/#{@leader.id}/generate_pdf"%>>Download Form</a>
            </div>
         </div>
      </div>
   </div>


  <!-- Responsive tables Start -->
      <div class="pd-20 card-box mb-30">
         <div class="clearfix mb-20">
            <nav aria-label="breadcrumb" role="navigation">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                     <a href="/home">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item">
                     <a href="/areas">Area</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                     Leader Page
                  </li>
               </ol>
            </nav>
            <div class="pull-left">
               <h5 class="text-blue h4">Leader Details</h5>
            </div>
         </div>
      
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">First Name                          : <span class="" >  <%= @leader.first_name %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Last Name                          : <span class="" >  <%= @leader.last_name %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Husband/Father's Name  : <span class="" >  <%= @leader.husband_name %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Email                                    : <span class="" >  <%= @leader.email %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Family Card Number         : <span class="" >  <%= @leader.family_card_number %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Phone no                             : <span class="" >  <%= @leader.phone_number %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Property Status                  : <span class="" >  <%= @leader.property %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Street Name                        : <span class="" >  <%= @leader.street_name %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Area Name                           : <span class="" >  <%= @leader.area.name %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">City                                        : <span class="" >  <%= @leader.city %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Pincode                                 : <span class="" >  <%= @leader.pincode %></span></label>
         </div>
         

     </div>
   <!-- Responsive tables End -->

   <!-- Responsive tables Start -->
<% if @leader_loan.present? %>
      <div class="pd-20 card-box mb-30">
         <div class="clearfix mb-20">
            <div class="pull-left">
               <h4 class="text-blue h4">Leader Loan Details</h4>
            </div>
         </div>
         <%# @@leader_loan.each_with_index do |leader, index| %>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Loan Amount                         : <span class="" >  <%= @leader_loan.loan_amount %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">ROI                                           : <span class="" >  <%= @leader_loan.roi %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Tenure Weeks                        : <span class="" >  <%= @leader_loan.tenure_weeks %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Disbursement Amount         : <span class="" >  <%= @leader_loan.disbursement_amount %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Disbursement Date               : <span class="" >  <%= @leader_loan.disbursement_date %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Weekly Collection Amount  : <span class="" >  <%= @leader_loan.weekly_collection_amount %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Weekly Collection Date        : <span class="" >  <%= @leader_loan.weekly_collection_date %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">First EWI Date                        : <span class="" >  <%= @leader_loan.first_ewi_date %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Loan Closing Date                 : <span class="" >  <%= @leader_loan.loan_closing_date %></span></label>
      </div>
     </div>
<% end %>
   <!-- Responsive tables End -->

   <!-- Responsive tables Start -->
      <div class="pd-20 card-box mb-30">
         <div class="clearfix mb-20">
            <div class="pull-left">
               <h4 class="text-blue h4">Applicant Users Details</h4>
            </div>
         </div>
         <div class="table-responsive">
            <table class="table table-striped">
               <thead>
                  <tr>
                     <th scope="col">Id</th>
                     <th scope="col">First name</th>
                     <th scope="col">Last name</th>
                     <th scope="col">Email</th>
                     <th scope="col">Phone no</th>
                     <th scope="col">Actions</th>
                  </tr>
               </thead>
               <tbody>
                  <% @leader.applicant_users.each_with_index do |a_user, index| %>
                     <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= a_user.first_name %></td>
                        <td><%= a_user.last_name %></td>
                        <td><%= a_user.email %></td>
                        <td><%= a_user.phone_number %></td>
                        <td><a class="btn btn-primary btn-sm" href="/applicant_users/<%=a_user.id%>">View</a></td>
                     </tr>
                   <% end %>
               </tbody>
            </table>
         </div>
     </div>
   <!-- Responsive tables End -->
   </div>
</div>
   

<script>
  $(document).ready(function() {
    $('.left-side-leaders').addClass('active');
  });
</script>