<div class="pd-ltr-20 xs-pd-20-10">
<div class="min-height-200px">
   <div class="page-header">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div class="title">
               <h4>New Leader</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                     <a href="/dashboard">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item">
                     <a href="/areas">Area</a>
                  </li>
                  <li class="breadcrumb-item">
                     <a href="/applicant_users">Applicant user</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                     New Leader
                  </li>
               </ol>
            </nav>
         </div>
      </div>
   </div>

  <!-- Responsive tables Start -->
      <div class="pd-20 card-box mb-30">
         <div class="clearfix mb-20">
            <nav aria-label="breadcrumb" role="navigation">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                     <a href="/dashboard">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item">
                     <a href="/areas">Area</a>
                  </li>
                  <li class="breadcrumb-item">
                     <a href="/applicant_users">Applicant user</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                     New Leader
                  </li>
               </ol>
            </nav>

            <div class="pull-left">
               <h4 class="text-blue h4">Leader Details</h4>
            </div>
         </div>
         <div class="form-group row">
  <label class="col-md-2">First name</label>
  <%# <div class="col-sm-12 col-md-10"> %>
    <span class="">:   <%= @leader.first_name %></span>
  <%# </div> %>
</div>
<div class="form-group row">
  <label class="col-md-2">Last name</label>
  <%# <div class="col-sm-12 col-md-10"> %>
    <span class="">:   <%= @leader.last_name %></span>
  <%# </div> %>
</div>
<div class="form-group row">
  <label class="col-md-2">Email</label>
  <%# <div class="col-sm-12 col-md-10"> %>
    <span class="">:   <%= @leader.email %></span>
  <%# </div> %>
</div>
<div class="form-group row">
  <label class="col-md-2">Phone no</label>
  <%# <div class="col-sm-12 col-md-10"> %>
    <span class="">:   <%= @leader.phone_number %></span>
  <%# </div> %>
</div>
<div class="form-group row">
  <label class="col-md-2">Area Name</label>
  <%# <div class="col-sm-12 col-md-10"> %>
    <span class="">:   <%= @leader.area.name %></span>
  <%# </div> %>
</div>



                     
        
     </div>
   <!-- Responsive tables End -->

   <!-- Responsive tables Start -->
      <div class="pd-20 card-box mb-30">
         <div class="clearfix mb-20">
            <div class="pull-left">
               <h4 class="text-blue h4">Applicant Users Details</h4>
            </div>
         </div>
         <div class="table-responsive">
            <table class="table table-striped">
               <thead>
                  <tr>
                     <th scope="col">Id</th>
                     <th scope="col">First name</th>
                     <th scope="col">Last name</th>
                     <th scope="col">Email</th>
                     <th scope="col">Phone no</th>
                     <th scope="col">Actions</th>
                  </tr>
               </thead>
               <tbody>
                  <% @leader.applicant_users.each_with_index do |a_user, index| %>
                     <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= a_user.first_name %></td>
                        <td><%= a_user.last_name %></td>
                        <td><%= a_user.email %></td>
                        <td><%= a_user.phone_number %></td>
                        <td><a class="btn btn-primary btn-sm" href="/applicant_users/<%=a_user.id%>" role="button">View</a></td>
                     </tr>
                   <% end %>
               </tbody>
            </table>
         </div>
     </div>
   <!-- Responsive tables End -->
   </div>
</div>
   

