<div class="pd-ltr-20 xs-pd-20-10">
<div class="min-height-200px">

    <div class="page-header">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div class="title" style="display: flex; justify-content: space-between; align-items: center;">
              <h4><span class="text-blue h4">Applicant User Page</span></h4>
              <a class="btn btn-primary btn-sm" href="<%= new_loan_path(au_id: @applicant_user.id) %>" role="button">New Loan</a>
            </div>
         </div>
      </div>
   </div>


  <!-- Responsive tables Start -->
      <div class="pd-20 card-box mb-30">
         <div class="clearfix mb-20">
           <nav aria-label="breadcrumb" role="navigation" style="width: 419px;">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                     <a href="/home">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item">
                     <a href="/areas">Area</a>
                  </li>
                  <li class="breadcrumb-item">
                     <a href="/leaders">Leader</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                     New Applicant User
                  </li>
               </ol>
            </nav>
            <div class="pull-left">
               <h5 class="text-blue h4">Applicant User Details</h5>
            </div>
         </div>
      
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">First Name                          : <span class="" >  <%= @applicant_user.first_name %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Last Name                          : <span class="" >  <%= @applicant_user.last_name %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Husband/Father's Name  : <span class="" >  <%= @applicant_user.husband_name %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Email                                    : <span class="" >  <%= @applicant_user.email %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Family Card Number         : <span class="" >  <%= @applicant_user.family_card_number %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Phone no                             : <span class="" >  <%= @applicant_user.phone_number %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Property Status                  : <span class="" >  <%= @applicant_user.property %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Street Name                        : <span class="" >  <%= @applicant_user.street_name %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Area Name                           : <span class="" >  <%= @applicant_user.area %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">City                                        : <span class="" >  <%= @applicant_user.city %></span></label>
         </div>
         <div class="form-group row">
           <label class="col-md-2"  style="white-space: pre;">Pincode                                 : <span class="" >  <%= @applicant_user.pincode %></span></label>
         </div>

     </div>
   <!-- Responsive tables End -->

   <!-- Responsive tables Start -->
<% if @a_user.present? %>
      <div class="pd-20 card-box mb-30">
         <div class="clearfix mb-20">
            <div class="pull-left">
               <h4 class="text-blue h4">Applicant User Loan Details</h4>
            </div>
         </div>
         <%# @@a_user.each_with_index do |leader, index| %>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Loan Amount                         : <span class="" >  <%= @a_user.loan_amount %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">ROI                                           : <span class="" >  <%= @a_user.roi %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Tenure Weeks                        : <span class="" >  <%= @a_user.tenure_weeks %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Disbursement Amount         : <span class="" >  <%= @a_user.disbursement_amount %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Disbursement Date               : <span class="" >  <%= @a_user.disbursement_date %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Weekly Collection Amount  : <span class="" >  <%= @a_user.weekly_collection_amount %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Weekly Collection Date        : <span class="" >  <%= @a_user.weekly_collection_date %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">First EWI Date                        : <span class="" >  <%= @a_user.first_ewi_date %></span></label>
      </div>
      <div class="form-group row">
        <label class="col-md-2"  style="white-space: pre;">Loan Closing Date                 : <span class="" >  <%= @a_user.loan_closing_date %></span></label>
      </div>
     </div>
<% end %>
   <!-- Responsive tables End -->

 
   </div>
</div>
   

<script>
  $(document).ready(function() {
    $('.left-side-applicant-users').addClass('active');
  });
</script>
