<div class="">
   <div class="page-header">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div class="title">
             <h3 id="page_title" class="text-blue">Area Page</h3>
            </div>
         </div>
         <div class="col-md-6 col-sm-12 text-right">
            <%= link_to areas_path, class: "btn btn-primary" do %>List Areas<% end %>
         </div>
      </div>
   </div>
  
   <div class="clearfix"></div>
  
       <div class="page-header">
            <%= form_for @area, html: { class: "form-horizontal form-label-left", id: "area_form", "data-parsley-validate": "" } do |f| %>
            <% if @area.errors.any? %>
            <% @area.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger alert-dismissible" role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <strong><%= msg %></strong>
            </div>
            <% end %>
            <% end %>
            <div class="item form-group">
            <div class="row" style="margin-left: 15px;">

               <label class="col-form-label" for="name">Area name: <span class="required">*</span></label>
               <div class="col-md-6 col-sm-6">
                  <%= f.text_field :name, class: "form-control", id: "name", required: true %>
               </div>
               </div>

            </div>
            <div class="ln_solid"></div>
            <div class="item form-group">
               <div class="col-md-6 col-sm-6 offset-md-3">
                  <%= link_to areas_path, class: "btn btn-primary" do %>Back<% end %>
                  <button type="submit" class="btn btn-success">Submit</button>
               </div>
            </div>
            <%end%>
       </div>
   </div>

<script>
  $(document).ready(function() {
    $('.left-side-areas').addClass('active');
});
</script>